
# OpenAI API Key
OPENAI_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=


PADDLE_CLIENT_TOKEN=
PADDLE_SECRET_KEY=

# Price ID of the lifetime pro product
PADDLE_PRICE_ID=

# Either 'sandbox' or 'production'
PADDLE_ENVIRONMENT=

PADDLE_URL=
